@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
  --primary-color: #1e90ff;
  --secondary-color: #4169e1;
  --accent-color: #FFDAB9;
  --background-color: #F8F8FF;
  --text-color: #555555;
  --light-gray: #E0E0E0;
  --border-color: #D3D3D3;
  --header-bg-rod: #FFFAFA;
  --shadow-color: rgba(174, 198, 207, 0.3);

  --header-text-color: #FF6347;
  --link-hover-color: #FF1493;
}

body {
  font-family: 'Jua', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

.app-container {
  flex-direction: column;
  display: flex;
  min-height: 100vh;

  background: linear-gradient(to bottom right, var(--background-color), #E6F3F7);
}

/* 헤더가 콘텐츠와 확실히 분리 되기 위함 */
.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-main {
  flex: 1;
  padding: 30px;
  max-width: 1000px;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0 10px 30px var(--shadow-color);
  overflow: hidden;
}

h1, h2, h3 {
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.05rem;
  font-family: 'Jua', cursive;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button:hover {
  background-color: #8EB7C7;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px var(--shadow-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}